<!DOCTYPE html>
<html>
<head>
	<title>adminLogin Page</title>
	<link rel="stylesheet" href="{{url_for('static',filename='adminlogin.css')}}">

		
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
	<div class="container">
		<h1>Login</h1>
		<form  method="post">
			<label >Username</label>
			<input type="text" name="username" placeholder="Enter your username" required>

			<label for="password">Password</label>
			<input type="password" name="password" placeholder="Enter your password" required>
			<br>
			<a href="{{url_for('adminforgot')}}">Forgot Password?</a>
            <br>
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>